@media screen and (max-width:1200px) {
    .header__logo__item {
        /* right: 5%; */
    }

    .about {
        height: 550px;
    }

    .user__logo {
        height: 0px;
    }

    .contact__item:nth-child(4) {
        margin-left: 60px;
    }

}

@media screen and (max-width: 1024px) {
    .header__logo__item {
        right: 0;
    }

    .menu__items li {
        margin-right: 5px;
    }

    
    
}

@media screen and (max-width: 992px) {

    .header__logo {
        margin-left: -40px;
    }

    .logo__item {
        margin-left: -35px;
    }

    .header__logo__item {
        margin-right: -40px;
    }

    .header__menu {
        padding-left: 20%;
        margin-right: -80px;
    }

    .about {
        height: 1100px;
    }

    .about_content {
        flex-wrap: wrap;
    }

    .about_content-left {
        height: 48%;
        margin-bottom: 100px;
    }
    
    .about_content-left,
    .about_content-right {
        width: 100%;
        justify-content: flex-start;
        padding:0 20px;
    }
    
    .services {
        height: 1250px ;
        align-items: flex-start;
    }

    .service__item {
        width: 100%;
        margin-bottom: 20px;
    }

    .service__content {
        padding: 10px 20px;
        /* top:4%; */
    }

    .news {
        height: 2000px;
    }

    .news_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .news_item {
        width: 80%;
    }

    .news__title p {
        display: none;
    }

    .news button {
        margin-top: 100px;
    }

    .contact h3 {
        display: none;
    }
    
    .contact__content {
        width: 100%;
        margin-left: -160px;
        margin-top: -20px;
    }

    .contact__item:nth-child(4) {
        margin-left: 70px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo__item {
        display: none;
    }

    #trapezoid {
        width: 50%;
        bottom: -50%;
    } 

    .header__main-title {
        width: 70%;
        position: absolute;
        left: 5%;
        margin-top: 75.5px;
    }

    .user {
        display:flex;
        justify-content:center;
    }

    .user__logo img:nth-child(4) {
        display: none;
    }

    .user__logo img:nth-child(3) {
       display: none;
    }

    .user__content {
        padding:0;
    }

    .user__picture {
        margin:auto;
    }

    .user__item {
        margin-top:50px;
    }

    .user__text {
        width:100%;
    }

    .picture__item {
        height: 75%;
        bottom: -50%
    }

    .footer__top-left {
        display: none;
    }

    .footer__top-center {
        width: 48%;
    }

    .footer__top-right {
        width: 48%;
    }

    .logo_footer {
        display: inline-block;
        padding-top: 30px;
        padding-bottom: -100px;
        margin-left: 40%;
    }
}

@media screen and (max-width: 670px) {
    .contact {
        height: 300px;
    }

    .contact::before {
        height: 300px;
    }

    .contact__content {
        margin-top: -50px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact__item {
        width: 40%;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 375px) {

    .header__logo h5 {
        display: none;
    }

    #trapezoid {
        width: 60%;
    }

    .menu__items {
        display: none;
    }

    .header__menu {
        border: none;
    }

    .header__main-title {
        width: 100%;
        margin-top: 30px;
    }

    .header__main-title p {
        margin-bottom: 15px;
    }

    .header__main-logo {
        bottom: 20%;
        right: 10%;
    }
}

